{ padding: 0; margin: 0; border: 0; } ,*:before,*:after{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } :focus,:active,a:focus,a:active{outline: none;} nav,footer,header,aside{display: block;} html,body{ height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; } input,button,textarea{font-family:inherit;} input::-ms-clear{display: none;} button{cursor: pointer;} button::-moz-focus-inner {padding:0;border:0;} a, a:visited, a:hover{text-decoration: none;} ul li{list-style: none;} img{vertical-align: top;} h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} /*--------------------*/
body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
 }
 .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 145px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
li {
    list-style-type: none;
    margin-right: 73px;
    align-self: center;
    cursor: pointer;
}
.menu li {
    transition: all .3s ;
}
.menu li:hover 
{
text-decoration: underline;
font-size:22px;
}
.intro {
    position: absolute;
    width: 100vw;
    height: 784px;
    left: 0px;
    background:url(img/pexels.svg);
    background-size: 100%;
}
.intro h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 71px;
    color: #2F2E2E;
    margin-left: 100px;
    margin-right: 166px;
    margin-top: 108px;
    margin-bottom: 0;
}
.intro p{
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 32px;
line-height: 40px;
margin-left: 100px;
margin-right: 166px;
margin-top: 15px;
color: #2F2E2E;
}
.rect {
position: absolute;
height: 489px;
width: 691px;
left: 0px;
top: 150px;
border-radius: 0px;
background-color: rgba(255, 255, 255, 0.9);
}
.rect2 {
position: absolute;
width: 100vw;
height: 365px;
left: 0px;
top: 876px;
background: rgba(37, 77, 77, 0.2);
}
.rect2 h2 {
font-family: 'Playfair Display';
font-size: 51px;
font-weight: 800;
line-height: 60px;
margin-top:20px;
text-align: center;

color: #2F2E2E;
}
.serv h4{
font-family: 'Playfair Display';
font-weight: 800;
font-size: 27px;
line-height: 32px;

color: #2F2E2E;
}